<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css">
    <link rel="stylesheet" href="../style/style.css">
    <title>Awlad Ser-Alkhatem</title>
</head>

<body>
    <!-- navbar -->
    <header>
        <nav>
            <div class="logo">
                <h4>أولاد <span>سرالختم</span></h4>
            </div>
            <ul class="items">
                <li class="item">
                    <a href="" class="link active">الصفحة الرئيسية</a>
                </li>
                <li class="item">
                    <a href="" class="link">المنتجات</a>
                </li>
                <li class="item">
                    <a href="" class="link">المميزات</a>
                </li>
            </ul>
        </nav>
    </header>

    <!-- header section -->
    <section class="header">
        <div class="header-content">
            <div class="content">
                <h4>شريكك الأول في مواد البناء</h4>
                <h1>نوفر لك الحديد, والمواسير, والزنك<br> والمواد الكهربائية بجودة عالية</h1>
                <p>جودة تثق بها، وأسعار تنافسية مع خبرة في الحديد ومواد البناء</p>
                <button class="btn">
                    <a href="">أعرف أكثر</a>
                </button>
            </div>

        </div>
    </section>

    <!-- Features section -->
    <section class="features">
        <div class="container">
            <h4>ماهي مميزاتنا؟</h4>
            <div class="boxes">
                <div class="box">
                    <i class="fa-solid fa-font-awesome"></i>
                    <h3>جودة مضمونة</h3>
                    <p>منتجات أصلية تتحمل أقسى الظروف</p>
                </div>
                <div class="box">
                    <i class="fa-solid fa-money-check"></i>
                    <h3>أسعار منافسة</h3>
                    <p>أسعار مناسبة مقارنة بالسوق</p>
                </div>
                <div class="box">
                    <i class="fa-solid fa-wrench"></i>
                    <h3>خبرة طويلة</h3>
                    <p>خبرة في الحديد والمواسير</p>
                </div>
                <div class="box">
                    <i class="fa-solid fa-building"></i>
                    <h3>تنوع المنتجات</h3>
                    <p>نوفر أغلب احتياجات البناء في مكان واحد</p>
                </div>
            </div>
        </div>
    </section>


    <!-- About section -->
    <section class="about" id="about">
        <div class="about-image">
            <img src="../image/ماسورة3webp.webp" alt="">
        </div>
        <div class="about-text">
            <h2>من نحن؟</h2>
            <p>في اولاد سرالختم نضع بين يديك كل ما تحتاجه لمشاريع البناء من حديد، مواسير، زنك، أسمنت واحتياجات كهربائية.
            </p>
            <p>نعلم أن قوة أي مشروع تبدأ من جودة مواده، لذلك نحرص على توفير منتجات موثوقة تلبي أعلى المعايير.</p>
            <p>هدفنا أن نكون شريكك الدائم في البناء، بالجودة التي تطمئن لها والأسعار التي تناسبك.</p>
            <a href="" class="btn space">اعرف أكثر</a>
        </div>
    </section>

    <!-- product section -->
    <section class="products">
        <div class="head-product">
            <h2>منتجاتنا</h2>
        </div>
        <div class="product-container">
            <div class="box-2">
                <img src="../image/زنكيwebp.webp" alt="">
                <h3>زاوية</h3>
                <div class="product-content">
                    <span>السعر:40.000</span>
                    <a href="">أطلب الان</a>
                </div>
            </div>
            <div class="box-2">
                <img src="../image/شبكwebp.webp" alt="">
                <h3>شبك</h3>
                <div class="product-content">
                    <span>السعر:22.000</span>
                    <a href="">أطلب الان</a>
                </div>
            </div>
            <div class="box-2">
                <img src="../image/صاجwebp.webp" alt="">
                <h3>لوح صاج</h3>
                <div class="product-content">
                    <span>السعر:15.000</span>
                    <a href="">أطلب الان</a>
                </div>
            </div>
            <div class="box-2">
                <img src="../image/مواسير.webp" alt="">
                <h3>ماسورة 1.4 بوصة</h3>
                <div class="product-content">
                    <span>السعر:17.000</span>
                    <a href="">أطلب الان</a>
                </div>
            </div>
            <div class="box-2">
                <img src="../image/ماسورة2webp.webp" alt="">
                <h3>ماسورة 6*3</h3>
                <div class="product-content">
                    <span>السعر:26.000</span>
                    <a href="">أطلب الان</a>
                </div>
            </div>
            <div class="box-2">
                <img src="../image/ماسورة3webp.webp" alt="">
                <h3>ماسورة 4 بوصة</h3>
                <div class="product-content">
                    <span>السعر:35.000</span>
                    <a href="">أطلب الان</a>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <p>&copy;جميع الحقوق محفوظة 2025</p>
    </footer>

</body>

</html>